body {
    margin: 0;
}

* {
    font-weight: normal;
}

a {
    text-decoration: inherit;
    color: inherit;
}

@font-face {
    font-family: 'Brand';
    src: url('fonts/Brand.ttf') format('truetype');
}

@font-face {
    font-family: 'Aulia Grotesk';
    src: url('fonts/AuliaGrotesk.ttf') format('truetype');
}

@font-face {
    font-family: 'Corbyn Serif';
    src: url('fonts/CorbynSerif.ttf') format('truetype');
}

@font-face {
    font-family: 'Costigue';
    src: url('fonts/Costigue.ttf') format('truetype');
}

.section:nth-child(1) {
    background-color: #111111;
}

.section:nth-child(2) {
    background-color: #F2E9DD;
}

.section:nth-child(3) {
    background-color: #111111;
}

h1 {
    font-family: 'Brand', serif;
    font-size: 8rem;
}

#page1 {
    color: #F2E9DD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

#page1 .profile {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#page1 .profile-img {
    width: 20rem;
    height: 24rem;
    background: url('img/elvita.JPG');
    background-size: cover;
}

#page1 .profile-txt {
    width: 26rem;
    height: 22rem;
    padding: 0 2rem;
}

#page1 .profile-txt-h {
    font-family: 'Brand', serif;
    font-size: 4rem;
    margin: 0;
}

#page1 .profile-txt-h:nth-child(1) {
    transform: translateX(-6rem);
    position: relative;
}

#page1 .profile-txt-h:nth-child(1)::after {
    position: absolute;
    left: 0;
    color: #111111;
    content: "El";
}

#page1 .profile-txt-p {
    padding-top: 1.3rem;
    font-family: 'Aulia Grotesk', serif;
    font-size: 0.95rem;
    letter-spacing: 0.1rem;
    line-height: 185%;
}

#page1 .arrow {
    position: absolute;
    left: calc(50vw - 4rem);
    bottom: 3rem;
    width: 8rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#page1 .arrow div {
    background-color: #F2E9DD;
    width: 2.5rem;
    height: 0.3rem;
}

#page1 .arrow div:nth-child(1) {
    transform: rotateZ(35deg) translateX(0.35rem);
}

#page1 .arrow div:nth-child(2) {
    transform: rotateZ(-35deg) translateX(-0.35rem);
}

#page2 {
    color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

#page2 .pf {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    position: relative;
    margin-top: 4rem;
}

#page2 .pf::before {
    position: absolute;
    background: url('star.svg');
    content: "";
    right: 0;
    top: 0;
    width: 4rem;
    height: 4rem;
    transform: translateX(1rem) translateY(-1rem);
}

#page2 .pf::after {
    position: absolute;
    background: url('star.svg');
    content: "";
    left: 0;
    bottom: 0;
    width: 4rem;
    height: 4rem;
    transform: translateX(-2rem) translateY(2rem);
}

#page2 .pf-item {
    width: 18rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#page2 .pf-item::after {
    content: "";
    width: 20rem;
    height: 20rem;
    position: absolute;
    background: url('ornament.svg');
    z-index: 0;
    transform: scale(1.4, 1.4) translateY(0.8rem);
}

#page2 .pf-item div {
    position: absolute;
    height: 10rem;
    transform: translateY(-5rem);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .pf-item div h2 {
    position: relative;
    text-align: center;
    font-family: 'Corbyn Serif', serif;
    font-size: 3rem;
    margin: 0;
}

#page2 .pf-item img {
    border-radius: 1rem;
    z-index: 1;
    object-fit: cover;
}

#page2 .pf-item p {
    text-align: center;
    font-family: 'Costigue', sans-serif;
    font-size: 1.6rem;
}

#page3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #F2E9DD;
    padding: 7rem;
    position: relative;
}

#page3::after {
    content: "*";
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 5rem;
    font-family: 'Costigue';
    font-size: 12rem;
}

#page3 h1 {
    font-family: 'Aulia Grotesk';
    font-size: 8rem;
    margin: 0;
}

#page3 p {
    font-family: 'Costigue';
    font-size: 3.2rem;
}